/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.login-form {
  position: absolute;
  top: 30%;
  left: 50%;
  margin: 0 -150px;
  box-shadow: 1px 1px 3px 1px gray;
}

/* .projects {
  height: 70vh;
} */

.tasks {
  height: 70vh;
}

.project-card {
  display: inline-block;
  width: 15rem;
  height: 15rem;
  
  /* border: 0 none; */
  
  /* -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5); */
}

.project-card.card {
  border-color: rgba(21, 140, 186, 1);
}

.project-card .card-header {
  background-color: rgba(21, 140, 186, 1); 
  border-color: transparent;
}

.project-card .card-body {
  background-color: rgb(240, 240, 240); 
}


.project-card .list-group-item {
  background-color: white; 
}

.projects-div {
  padding-top: 4px;
  float: left;
  padding-left: 3%;
  width: 60%;
  height: 86vh;
  overflow-y:auto;
  float:left;
  position:relative;
  border-right: .05px solid rgba(21, 140, 186, .4);
}

.projects-div.card-columns {
  float: left;
  padding-left: 3%;
  width: 60%;
  height: 100%;
  overflow-y:auto;
  float:left;
  position:relative;
  /* border-right: 1px solid #158cba */
}

.daily-tasks-div {
  padding-top: 4px;
  float: right;
  /* padding-right: 3%; */
  width: 40%;
  height: 85vh;
  overflow-y:auto;
  float:left;
  position: relative;
  display: flex;
  justify-content: center;
}

.daily-tasks-div .card {
  height: 55vh;
  width: 65%;
  overflow-y: auto;
  position: relative;
}

.team-members-div {
  position: fixed;
  bottom: 0;
  height: 9vh;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 3px solid rgba(21, 140, 186, 1);
  /* background-color: rgba(21, 140, 186, 1); */
  background-color: white;
  
}

.avatars {
  position: relative;
  /* top: 1%; */
  /* left: 40%; */
  /* margin: 0 -150px; */
}

/* .projects-page {
  background-color: blue;
} */