/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.login-form {
  position: absolute;
  top: 30%;
  left: 50%;
  margin: 0 -150px;
  box-shadow: 1px 1px 3px 1px gray;
}

.title {
  /* padding-top: 15%; */
  text-align: center;
}

#home-logo {
  height: 65vh;
}

.divider{
  width:5px;
  height:auto;
  display:inline-block;
}

.login-button {
  /* margin-top: 3%; */
  text-align: center;
}

.background {
  background-image: url(./assets/gem.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

/* .projects {
  height: 70vh;
} */

.tasks {
  height: 70vh;
}

/* .project-card { */
  /* display: inline-block; */
  /* width: 22rem;
  height: 22rem; */
  
  /* border: 0 none; */
  
  /* -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5); */
/* } */

.project-card.card {
  border-color: rgba(21, 140, 186, 1);
}

.project-card .card-header {
  background-color: rgba(21, 140, 186, 1); 
  /* border-color: transparent; */

}

.project-card .card-body {
  background-color: white; 
}


.project-card .list-group-item {
  background-color: white; 
}

.projects-div {
  padding-top: 24px;
  float: left;
  padding-left: 3%;
  width: 60%;
  height: 88vh;
  overflow-x: hidden;
  overflow-y: auto;
  float:left;
  position:relative;
  border-right: .05px solid rgba(21, 140, 186, .4);
}
/* 
.projects-div.card-columns {
  float: left;
  padding-left: 3%;
  width: 60%;
  height: 100%;
  overflow-y:auto;
  float:left;
  position:relative;
} */

.daily-tasks-div {
  padding-top: 24px;
  float: right;
  /* padding-right: 3%; */
  width: 40%;
  height: 85vh;
  overflow-y:auto;
  /* margin-right: 20%; */
  float:left;
  position: relative;
  display: flex;
  justify-content: center;
}

.daily-tasks-div .card {
  height: 62.2vh;
  width: 85%;
  overflow-y: auto;
  position: relative;
  /* border: 3px solid rgba(21, 140, 186, .5); */
  border: 2px solid rgba(21, 140, 186, 1);
  /* background-color: rgb(223, 234, 245); */
  /* border-radius: 5px; */
}

/* .daily-tasks-div .table {
  background-color: rgb(223, 234, 245);
} */

/* #daily-task-table {
  border-collapse: separate;
  border-spacing: 0 3px;
} */

/* #daily-task-rows {
  background-color: white;
} */

/* .daily-tasks-div .card-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 65%;
  background: #bbb;
  z-index: 2;
  height: 20px; 
} */

.team-members-div {
  position: fixed;
  bottom: 0;
  height: 9vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-top: 3px solid rgba(21, 140, 186, 1);
  /* background-color: rgba(21, 140, 186, 1); */
  background-color: rgb(223, 234, 245); 
}



/* .projects-page {
  background-color: blue;
} */

#phone {
  white-space: nowrap;
}

#contact {
  white-space: nowrap;
}

#create-ptask {
  position: absolute;
  right: 4%;
  top: 3vh;
}

#create-contact {
  position: absolute;
  right: 4%;
  top: 3vh;
}

#edit-note {
  position: absolute;
  right: 4%;
  top: 3vh;
}

#task-submit {
  margin-right: 25%;
}

#task-deadline {
  margin-left: 10%;
}

#create-ptask-form {
  margin-top: 1.2%;
}

#add-project-card {
  height: 237px;
  width: 322.8px;
  background-color: rgb(223, 234, 245);
  border-color: rgb(175, 180, 185);
  align-items:center;
}

#add-project-icon {
  height: 125px;
  width: 125px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  opacity: .2;
}

#new-project-x {
  position: absolute;
  right: 1vh;
  top: .65vh;
}

#new-project-check {
  position: absolute;
  right: 1vh;
  bottom: .65vh;
}

#card-deck {
  margin-bottom: 30px;
}

#contact-email {
  margin-left: 6.2%;
}

#contact-phone {
  margin-left: 2.5%;
}

#notes-column {
  margin-left: 3%;
}

#project-name-input {
  height: 1.5rem;
}

#project-name-column {
  margin-left: 17%;
  align-self: center;
}

#project-name-row {
  margin-left: 25%;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgb(223, 234, 245);
}

.list-group-hover .list-group-item:hover {
  background-color: rgb(223, 234, 245);
}

/* #daily-tasks-card {
  background-color: rgb(245, 249, 255);
} */

#project-card-body {
  background-color: rgb(223, 234, 245);
}

.list-group-item-margin {
  margin:0 0 6px 0;
  border:0 !important;
}

/* .borderless td, .borderless th {
  border: none;
  border-bottom: none !important;
  border-top: none !important;
} */

#create-daily {
  float: right;
  margin-bottom: 0rem;
  margin-right: .8rem;
}

/* #daily-task-description {
  width: 20.35rem;
  padding-right: 0;
} */

.daily-task-archive-div {
  position: absolute;
  bottom: 1.9%;
  height: 16vh;
  overflow-x:auto;
  display: inline-block;
  justify-content: center;
}

#daily-task-archive {
  height: 9rem;
  margin: .5rem;
}

#project-archive {
  height: 9rem;
  margin: .5rem;
}

#project-task-archive {
  height: 9rem;
  margin: .5rem;
}

#contact-archive {
  height: 9rem;
  margin: .5rem;
}

#daily-task-title {
  /* background-color: blue; */
  margin-top: 1rem;
  margin-bottom: 1.3rem;
}

/* #new-daily-task-form {
  position: fixed;
} */

#project-archive-toggle {
  float: right;
  position: relative;
}

#delete-project-x {
  position: absolute;
  right: .5vh;
  top: .3vh;
}

#project-card-title {
  position: relative;
  left: 1rem;
}

/* #team-member-button {
  background-color: rgb(223, 234, 245);
  border: none;
  padding: 2rem;
} */

#team-member-pic-row {
  border-top: none;
  text-align: center;
  /* margin-right: 5rem; */
  /* padding-right: 0;
  border-right: 0; */
}

#team-member-pic {
  margin: .7rem;
}

#archive-toggle {
  margin-left: 0;
}

#archive-x {
  padding-left: 0;
}

/* #project-task-table {
  overflow: hidden;
  object-fit: contain;
  overflow-y: hidden;
  overflow-x: hidden;
} */

#team-emblem {
  padding-right: 0;
  /* padding-left: 0; */
}

/* #confirm-change {
  right: 0;
} */

.team-member-checkbox {
  /* justify-content: center;
  justify-items: center; */
  text-align: center;
}

#user-name {
  font-size: 2rem;
}

.user-email {
  font-size: 1rem;
}

#email-input {
  align-content: center;
  text-align: center;
  display: inline-block;
  justify-content: center;
  padding-right: 0;
  margin-right: 0;
}

#email-check {
  display: inline-block;
  padding-top: 6px;
  padding-left: 0;
  margin-left: 0;
  position: absolute;
}

.divider2{
  width: 3rem;
  height:auto;
  display:inline-block;
}

.button {
  transition: transform 0.4s;
  transform: scale(1);
}

.button:hover {
  transform: scale(1.1);
}
