/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.login-form {
  position: absolute;
  top: 30%;
  left: 50%;
  margin: 0 -150px;
  box-shadow: 1px 1px 3px 1px gray;
}

.title {
  /* padding-top: 15%; */
  text-align: center;
}

#home-logo {
  height: 65vh;
}

.divider{
  width:5px;
  height:auto;
  display:inline-block;
}

.login-button {
  /* margin-top: 3%; */
  text-align: center;
}

.background {
  background-image: url(./assets/gem.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

/* .projects {
  height: 70vh;
} */

.tasks {
  height: 70vh;
}

/* .project-card { */
  /* display: inline-block; */
  /* width: 22rem;
  height: 22rem; */
  
  /* border: 0 none; */
  
  /* -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5); */
/* } */

.project-card.card {
  border-color: rgba(21, 140, 186, 1);
}

.project-card .card-header {
  background-color: rgba(21, 140, 186, 1); 
  /* border-color: transparent; */

}

.project-card .card-body {
  background-color: rgb(214, 225, 235); 
}


.project-card .list-group-item {
  background-color: white; 
}

.projects-div {
  padding-top: 24px;
  float: left;
  padding-left: 3%;
  width: 60%;
  height: 88vh;
  overflow-x: hidden;
  overflow-y: auto;
  float:left;
  position:relative;
  border-right: .05px solid rgba(21, 140, 186, .4);
}
/* 
.projects-div.card-columns {
  float: left;
  padding-left: 3%;
  width: 60%;
  height: 100%;
  overflow-y:auto;
  float:left;
  position:relative;
} */

.daily-tasks-div {
  padding-top: 24px;
  float: right;
  /* padding-right: 3%; */
  width: 40%;
  height: 85vh;
  overflow-y:auto;
  /* margin-right: 20%; */
  float:left;
  position: relative;
  display: flex;
  justify-content: center;
}

.daily-tasks-div .card {
  height: 55vh;
  width: 65%;
  overflow-y: auto;
  position: relative;
}

.team-members-div {
  position: fixed;
  bottom: 0;
  height: 9vh;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 3px solid rgba(21, 140, 186, 1);
  /* background-color: rgba(21, 140, 186, 1); */
  background-color: white;
  
}

.avatars {
  position: relative;
  /* top: 1%; */
  /* left: 40%; */
  /* margin: 0 -150px; */
}

/* .projects-page {
  background-color: blue;
} */

#phone {
  white-space: nowrap;
}

#contact {
  white-space: nowrap;
}

#create-ptask {
  position: absolute;
  right: 4%;
  top: 3vh;
}

#create-contact {
  position: absolute;
  right: 4%;
  top: 3vh;
}

#edit-note {
  position: absolute;
  right: 4%;
  top: 3vh;
}

#archive {
  /* padding-top: 24px; */
  /* float: right; */
  /* padding-left: 10%; */
  height: 13vh;
  /* float:left; */
  /* position: relativ; */
  /* display: block; */
  /* white-space: pre-wrap; */
  /* positions: sticky-top */
  /* justify-content: center; */
}

.archive-div {
  position: absolute;
  right: 17%;
  bottom: 14%;
}

#task-submit {
  margin-right: 25%;
}

#task-deadline {
  margin-left: 10%;
}

#create-ptask-form {
  margin-top: 1.2%;
}

#add-project-card {
  height: 225px;
  width: 322.8px;
  background-color: rgb(214, 225, 235);
  align-items:center;
}

#add-project-icon {
  height: 125px;
  width: 125px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  opacity: .4;
}

#new-project-x {
  position: absolute;
  right: 1vh;
  top: .65vh;
}

#new-project-check {
  position: absolute;
  right: 1vh;
  bottom: .65vh;
}

#card-deck {
  margin-bottom: 30px;
}

#contact-email {
  margin-left: 6.2%;
}

#contact-phone {
  margin-left: 2.5%;
}

#notes-column {
  margin-left: 3%;
}

#project-name-input {
  height: 1.5rem;
}

#project-name-column {
  margin-left: 17%;
  align-self: center;
}

#project-name-row {
  margin-left: 25%;
}




